.img-wrap {
  height: 150px;
  width: 100%;
  display: inline-block;
  object-fit: contain;
  object-position: center;
}

.img-responsive {
  height: 50px;
  width: 50px;
  object-fit: contain;
  object-position: center;
}
