<%= link_to carts_path do %>
  <button type="btn btn-outline-secondary dropdown-toggle" class="btn btn-outline-secondary cart">
    <i class="fa fa-shopping-cart"></i>
    <%= current_order.order_items.size %>
  </button>
<% end %>
